<div class="portrait"></div>
<div class="portrait_cristal"></div>

<div class="container">
  
  <div class="login_controlsWrapper">
    <!-- Welcome text-->
    <div class="container">
      <div class="row">
        <h2 class="welcomText">Hoy hay muchas consultas que atender,</h2>
        <h2 class="welcomText">BIENVENIDO DE VUELTA</h2>
      </div><!--row-->
      
      <!-- Form -->

      <div class="row">
          <!--email input-->
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Correo Electrónico</label>
          </div>
          <!--password input-->
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
          <!--buttons-->
          <div class="col s12 center">
            <div class="divider">
              <a class="waves-effect waves-light btn">Ingresar</a>
            </div>
            <div class="divider">
              <a class="waves-effect waves-light btn">Registrarse</a>
            </div>
            <a href="#">Olvidaste tu contraseña ?</a>
          </div>
      </div><!--row-->
    </div><!--container-->
  </div><!--controls container-->
</div>